<div class="data-journal-intro text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="data-journal-first">
          <h1>Data privacy dashboard</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse nobis debitis atque qui officia, tenetur laudantium nulla illum aliquid, error eaque unde fugit eveniet ea, mollitia asperiores eum sapiente quaerat!</p>
        </div>
        </div>
    </div>
  </div>
</div>

<div class="data-journal-data-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h2>Data currently udergoing processing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse nobis debitis atque qui officia, tenetur laudantium nulla illum aliquid, error eaque unde fugit eveniet ea, mollitia asperiores eum sapiente quaerat!</p>
        <p></p>

        <div class="password-confirmation">
          <p> confirm your password to proceed:</p>
        </div>

        <div class="data-journal-manage-auth-btn text-center">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <%= link_to "Change data privacy authorizations", "", class: "btn btn-primary btn-lg", id: "btn-authorize" %>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive data-privacy-table">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <td>#</td>
                <td>Type</td>
                <td>Data</td>
                <td>Consent status</td>
                <td>As from</td>
              </tr>
            </thead>
            <tbody>
              <% counter = 0 %>
              <% consent_status = @data_journal.consent_active ? "Active" : "Not active" %>
              <% @attributes.each do |type, data| %>
              <tr>
                <td><%= counter += 1 %></td>
                <td><%= type %></td>
                <td><%= data %></td>
                <% # Use of required? helper %>
                <% # if User model validates presence true of type %>
                <% # add 'required' class to input checkbox %>
                <% if required?(User, type) %>
                <td class="danger consent-td" data-toggle="tooltip" data-placement="right" title="Data mandatory for continuing processing">
                  <div class="consent-status">
                    <%= consent_status %>
                  </div>
                  <div class="consent-checkbox">
                    <input type="checkbox" id="<%= type %>" class="consent-status disabled required" checked="checked" disabled="disabled">
                  </div>
                  <div class="consent-warning">
                    Required*
                  </div>
                </td>
                <% # if not, add 'not-required' class to input checkbox %>
                <% else %>
                  <td>
                    <%= consent_status %>
                    <input type="checkbox" id="<%= type %>" class="consent-status disabled not-required" checked="checked" disabled="disabled">
                  </td>
                <% end %>
                <td><%= current_user.created_at.strftime("%b %d, %Y") %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
