<!-- Title and intro -->

<div class="data-journal-intro text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="data-journal-first">
          <h1>Data privacy dashboard</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse nobis debitis atque qui officia, tenetur laudantium nulla illum aliquid, error eaque unde fugit eveniet ea, mollitia asperiores eum sapiente quaerat!</p>
        </div>
        </div>
    </div>
  </div>
</div>

<!-- Data overview -->

<div class="data-journal-data-overview">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="data-journal-bullet-points">
          <h1>Data currently udergoing processing</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse nobis debitis atque qui officia, tenetur laudantium nulla illum aliquid, error eaque unde fugit eveniet ea, mollitia asperiores eum sapiente quaerat!</p>
          <p></p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque deserunt numquam velit doloribus optio rem illo aliquam autem id nisi excepturi ab qui odio consequuntur, ad tempore earum magni dolorum.</li>
            <li>Sed exercitationem repellat expedita reprehenderit nemo iste nulla aperiam odio, aliquam optio officiis fugiat, commodi quo laudantium. Consequuntur ipsum porro, sequi tempore repellat, voluptatibus, provident assumenda repudiandae eius nemo quo?</li>
            <li>Expedita, recusandae minus quaerat suscipit cumque, aliquam, possimus est molestiae provident dicta fugit nihil deleniti, perspiciatis iste officiis facilis sapiente dolore. Molestias laborum expedita modi quos alias officia quibusdam, repellendus.</li>
          </ul>
        </div>

        <!-- Authorize changes button-->
        <div class="data-journal-manage-auth-btn text-center">
          <%= link_to "Change data privacy authorizations", "", class: "btn btn-primary btn-lg", id: "btn-authorize" %>
        </div>

        <!-- START Big hidden form -->

        <%= simple_form_for [current_user, @data_journal], url: url_for([current_user, @data_journal]), method: :patch do |f| %>

          <!-- Overview data table-->
          <div class="table-responsive data-privacy-table">
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <td>#</td>
                  <td>Type</td>
                  <td>Data</td>
                  <td>Consent status</td>
                  <td>Usage status</td>
                  <td>As from</td>
                </tr>
              </thead>

              <tbody>
                <% counter = 0 %>
                <% consent_status = @data_journal.consent_active ? "Active" : "Not active" %>
                <% @attributes.each do |type, data| %>
                  <tr>
                    <td><%= counter += 1 %></td>
                    <td><%= type %></td>
                    <td><%= data %></td>

                    <!-- START consent column -->

                    <% # Use of required? helper %>
                    <% # if User model validates presence true of type %>
                    <% # -add 'required' and 'danger' class to input checkbox %>
                    <% # -fire warning tooltip %>

                    <% if required?(User, type) %>

                      <td class="consent-td">
                        <div class="consent-checkbox required">

                          <%= f.input type.to_sym, as: :boolean, label: consent_status, disabled: true, class: "consent-status required", input_html: { checked: true } %>
                        </div>
                      </td>

                      <td class="danger" data-toggle="tooltip" data-placement="right" title="Data required for the use of the service">
                        Required
                      </td>

                    <% # if not, add 'not-required' class to input checkbox %>

                    <% else %>

                      <td class="consent-td">
                        <div class="consent-checkbox">

                          <%= f.input type.to_sym, as: :boolean, label: consent_status, disabled: true, class: "consent-status not-required", input_html: { checked: true } %>
                        </div>
                      </td>

                      <td class="info" data-toggle="tooltip" data-placement="right" title="Data optional for the use of the service">
                          Optional
                      </td>

                    <% end %>

                    <!-- END consent column -->

                    <td><%= current_user.created_at.strftime("%b %d, %Y") %></td>
                  </tr>

                <% end %>
              </tbody>
            </table>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-2">
                <!-- Show up when required data checked-->
                <div id="about-to-leave" class="hidden">
                  <div class="panel panel-danger">
                    <div class="panel-heading">
                      <h4>The data you selected is required for Pokémon starter to continue the services</p>
                    </div>
                    <div class="panel-body">
                      <h4>Warning</h2>
                      <p>When confirming the changes below your account will be deleted and you will leave the application</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Confirm changes button-->
          <div class="container">
            <div class="row">
              <div class="div col-xs-12 col-md-4 col-md-offset-3">
                <div id="password-confirmation panel">
                  <div class="panel-footer">
                    <%= f.error_notification %>
                    <div class="form-inputs">
                      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                    </div>
                    <div class="form-actions text-center">
                      <%= f.button :submit, "Confirm changes", class: "btn btn-danger btn-lg" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- END of big hidden form-->
        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- Download section -->

<div class="download-data">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>Donwload a copy of your personal data</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptatem possimus quasi dolorum aspernatur, ab laudantium officia, accusamus earum quam itaque ipsa repellat error, cumque animi quisquam, perspiciatis dolor. Ratione.</p>
        <div class="download-card">
          <div class="download-file">
            <i class="fa fa-file-pdf-o"></i>
            <%= link_to "Download PDF", user_data_journals_path(current_user, format: "pdf"), class: "btn btn-success btn-lg", target: "_blank"%>
          </div>
          <div class="download-file">
            <i class="fa fa-file-code-o"></i>
            <%= link_to "Download Json", user_data_journals_path(current_user, format: "json"), class: "btn btn-success btn-lg", target: "_blank" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Upload section -->

<div class="upload-data">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h1>Uploas your personal data in JSON format</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptatem possimus quasi dolorum aspernatur, ab laudantium officia, accusamus earum quam itaque ipsa repellat error, cumque animi quisquam, perspiciatis dolor. Ratione.</p>
        <div class="download-card">
          <div class="download-file">
            <i class="fa fa-file-pdf-o"></i>

            <%= simple_form_for [@user], url: url_for(@user), method: :patch do |f| %>
              <div class="form-inputs">
                <%= f.input :file, as: :file, label: false %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Upload JSON", class: "btn btn-success btn-lg" %>
              </div>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
