<div class="title-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <h1><%= @pokemon.name %></h1>
      </div>
    </div>
  </div>
</div>

<div class="pokemon-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1 text-center">
        <div class="pokemon-image">
          <%= image_tag("#{@pokemon.name.downcase}.png")%>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <p><strong>Number: </strong><%= @pokemon.number %></p>
        <p><strong>Category: </strong><%= @pokemon.category %></p>
        <p><strong>Height: </strong><%= @pokemon.height %> m</p>
        <p><strong>Weight: </strong><%= @pokemon.weight %> kg</p>
        <ul class="list-unstyled">
          <p><strong>Moves: </strong></p>
          <% @pokemon.moves.each do |move| %>
            <li><%= move.name %>
              ( <%= move.move_cat %> )
            </li>
          <% end %>
        </ul>
        <div class="rating-show">
          <% results = [] %>
          <% @pokemon.ratings.each do |rating| %>
            <% results << rating.stars %>
          <% end %>
          <% star_number = results.reduce(:+) / @pokemon.ratings.count %>
          <p><strong>Average rating: </strong>
            <% star_number.times do %>
              <i class="fa fa-star-o"></i>
            <% end %>
            <% (5 - star_number).times do %>
              <i class="fa fa-star"></i>
            <% end %>
        </div>
        <p>Ratings based on: <%= pluralize @pokemon.ratings.size, "rating" %></p>
        <%= link_to "Back to Pokémon", pokemons_path, class: "btn btn-primary" %>
        <div id="rating-form">
          <%= simple_form_for [@pokemon, @rating] do |f| %>
            <%= f.input :stars, collection: 1..5, prompt: "Rate between 1 and 5"%>
            <%= f.submit "Save", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

